{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="d-flex flex-column align-items-center">
        <h1 class="h3 mb-3 font-weight-normal text-center">Mot de passe oublié</h1>
        <div class="card shadow-sm w-25 col">
            <div class="card-body">

                {{ form_start(requestForm, {'attr': {'class': 'row g-3'}}) }}

                <div>
                    <p>
                        Entrez votre adresse mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                    </p>
                </div>

                <div class="row mb-3">
                    {{ form_label(requestForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'required': ''}}) }}
                </div>
                <div class="m-2 text-center">
                    <button class="btn btn-outline-primary">Envoyer le mot de passe par mail</button>
                </div>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
