{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ville') }}
{% endblock %}

{% block body %}
<div class="card mb-3" style="width: 80% ; padding: 8px;">
    <div class="row g-0">
        <h2 class="mb-4">Villes</h2>
        <div class="card-body">
            <table id="tableSortie" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code postal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                        {{ form_start(form, {'attr': {'class': "mx-1 mx-md-4"}}) }}
                            <tr>
                                <td>{{ form_row(form.nom) }}</td>
                                <td>{{ form_row(form.codepostal) }}</td>
                                <td>
                                    <button class="btn btn-primary" type="submit">Ajouter</button>
                                </td>
                            </tr>
                        {{ form_end(form) }}

                        {% for ville in villes %}
                            <tr>
                                <td>{{ ville.nom }}</td>
                                <td>{{ ville.codePostal }}</td>
                                <td>
                                    <a href="#" class="btn btn-primary">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
