{% extends 'base.html.twig' %}

{% block title %}Admin - Villes{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ encore_entry_script_tags('ville') }}
{% endblock %}

{% block body %}
<div class="card p-4 container" style="width: 80% ; padding: 8px;">
    <div class="row">
        <h1 class="text-center mb-4">Villes</h1>
        <div class="card-body">
            <table id="tableSortie" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code postal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                        {{ form_start(form, {'attr': {'class': "mx-1 mx-md-4"}}) }}
                            <tr>
                                <td>{{ form_row(form.nom) }}</td>
                                <td>{{ form_row(form.codepostal) }}</td>
                                <td>
                                    <button class="btn btn-outline-primary" type="submit">Ajouter</button>
                                </td>
                            </tr>
                        {{ form_end(form) }}

                        {% for ville in villes %}
                            <tr>
                                <td class="ville-nom">{{ ville.nom }}</td>
                                <td class="ville-codepostal">{{ ville.codePostal }}</td>
                                <td class="ville-actions">
                                    <a href="#" class="btn btn-outline-primary btn-edit" data-ville-id="{{ ville.id }}">Modifier</a>
                                    <button class="btn btn-outline-success btn-save" style="display: none;" data-ville-id="{{ ville.id }}">Sauvegarder</button>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
