{% extends 'base.html.twig' %}

{% block title %}Mon Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profil') }}
{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 mb-4 text-center">
                                    <img class="rounded-circle img-fluid img-profile" src="{{ asset('assets/uploads/' ~ utilisateur.imageProfil) }}" alt="Image profil">
                                </div>
                                <div class="col-6">
                                    <div class="bg-secondary rounded">
                                        <h2 class="text-white text-center">Mon profil</h2>
                                    </div>
                                    <div>
                                        <div class="text-center">
                                            <span>Nom prénom :</span>
                                            <span class="fw-bold">
                                                {{ app.user.nom }} {{ app.user.prenom }}
                                            </span>
                                            <p class="mb-2">
                                                Ville de rattachement :
                                                <span class="fw-bold">{{ app.user.idSite.nom }}</span>
                                            </p>
                                        </div>
                                        {{ form_errors(form) }}
                                        {{ form_start(form, {'attr': {'class': 'row g-3 needs-validation was-validated',
                                            'novalidate': ''}}) }}

                                        <div class="row my-3">
                                            {{ form_label(form.pseudo, null, {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.pseudo, {'attr': {'class': 'form-control', 'aria-describedby': 'inputGroupPrepend', 'required': ''}}) }}
                                            <p class="invalid-feedback">
                                                Veuillez renseigner un pseudo.
                                            </p>
                                            {% if form_errors(form.pseudo) %}
                                                <div class="invalid-feedback">{{ form_errors(form.pseudo)|join(', ') }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="row mb-3">
                                            {{ form_label(form.telephone, null, {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'required': ''}}) }}
                                            <div class="invalid-feedback">
                                                Le champ doit respecter le format de numéro de téléphone français.
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'required': ''}}) }}
                                            <div class="invalid-feedback">
                                                Le format de l'adresse mail doit être valide. (ex: p-dupond@gmail.com)
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            {{ form_label(form.password, null, {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'required': ''}}) }}
                                            <div class="invalid-feedback">
                                                Le mot de passe est incorrecte.
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            {{ form_label(form.imageProfil,  null, {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.imageProfil, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                            <div class="invalid-feedback">
                                                L'image doit être au format png,jpeg ou bmp.
                                            </div>
                                        </div>

                                        <div class="col-sm" style="text-align: center">
                                            <button class="btn btn-outline-success" type="submit">Enregistrer</button>
                                            <a href="{{ path('app_accueil') }}" class="btn btn-outline-danger">Annuler</a>
                                            <a href="{{ path('app_utilisateur_modifier_pw', {'id' : utilisateur.id}) }}" class="btn btn-outline-primary">Modifier Mot de Passe</a>
                                        </div>

                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}