{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mb-4">Modifier mon mot de passe</h1>
        {{ form_start(form, {'attr': {'class': 'form-signin needs-validation',
                        'novalidate': 'novalidate',
                        'oninput': 'if (' ~ form.currentPassword.vars.id ~
                        '.value !== "" && ' ~ form.password.first.vars.id ~
                        '.value !== "" && ' ~ form.password.first.vars.id ~
                        '.value !== ' ~ form.password.second.vars.id ~ '.value) ' ~ form.password.second.vars.id ~
                        '.setCustomValidity("Les mots de passe ne correspondent pas."); else ' ~ form.password.second.vars.id ~
                        '.setCustomValidity("");' }}) }}
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="col-4">
                    <div class="form-group">
                        <label for="{{ form.currentPassword.vars.id }}">{{ form.currentPassword.vars.label }}</label>
                        {{ form_widget(form.currentPassword, {'attr': {
                                    'autocomplete': 'off',
                                    'class': 'form-control form-control-sm',
                                    'aria-describedby': 'inputGroupPrepend',
                                    'required': 'required'}}) }}
                        <div class="invalid-feedback">
                            Veuillez saisir votre mot de passe actuel.
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="{{ form.password.first.vars.id }}">{{ form.password.first.vars.label }}</label>
                        <div class="input-group">
                            {{ form_widget(form.password.first, {'attr': {
                                        'autocomplete': 'off',
                                        'class': 'form-control form-control-sm',
                                        'aria-describedby': 'inputGroupPrepend',
                                        'required': 'required'}}) }}
                            <div class="invalid-feedback">
                                Veuillez saisir votre nouveau mot de passe.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="{{ form.password.second.vars.id }}">{{ form.password.second.vars.label }}</label>
                        <div class="input-group">
                            {{ form_widget(form.password.second, {'attr': {
                                        'autocomplete': 'off',
                                        'class': 'form-control form-control-sm',
                                        'aria-describedby': 'inputGroupPrepend',
                                        'required': 'required'}}) }}
                            <div class="invalid-feedback">
                                Les mots de passe ne correspondent.
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Enregistrer</button>
                <a href="{{ path('app_utilisateur_modifier') }}" class="btn btn-secondary">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script>
        // Check if passwords match
        $("#{{ form.currentPassword.vars.id }}, #{{ form.password.first.vars.id }}, #{{ form.password.second.vars.id }}").on("keyup", function () {
            if (
                $("#{{ form.currentPassword.vars.id }}").val() !== "" &&
                $("#{{ form.password.first.vars.id }}").val() !== "" &&
                $("#{{ form.password.first.vars.id }}").val() !== $("#{{ form.password.second.vars.id }}").val()
            ) {
                $("#{{ form.password.second.vars.id }}")[0].setCustomValidity(
                    $("#{{ form.password.first.vars.id }}").val() === $("#{{ form.password.second.vars.id }}").val() ? '' : 'Les mots de passe ne correspondent pas.'
                );

            }
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            "use strict";
            window.addEventListener(
                "load",
                function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName("needs-validation");
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener(
                            "submit",
                            function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add("was-validated");
                            },
                            false
                        );
                    });
                },
                false
            );
        })();
    </script>
{% endblock %}

