{% extends 'base.html.twig' %}

{% block title %}Mon Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profil') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="card card-style1 border-0">

                    <div class="col-lg-6 px-xl-10">
                        <h1 class="text-center mb-4">Modifier mon mot de passe</h1>

                        <div class="row mb-3">
                            {{ form_errors(form) }}
                            {{ form_start(form, {'attr': {'class': 'row g-3 needs-validation was-validated',
                                'novalidate': 'novalidate',
                                'oninput': 'if (' ~ form.currentPassword.vars.id ~
                                '.value !== "" && ' ~ form.password.first.vars.id ~
                                '.value !== "" && ' ~ form.password.first.vars.id ~
                                '.value !== ' ~ form.password.second.vars.id ~ '.value) ' ~ form.password.second.vars.id ~
                                '.setCustomValidity("Les mots de passe ne correspondent pas."); else ' ~ form.password.second.vars.id ~
                                '.setCustomValidity("");' }}) }}

                            <div class="row mb-3">
                                <label for="{{ form.currentPassword.vars.id }}" class="form-label">{{ form.currentPassword.vars.label }}</label>
                                {{ form_widget(form.currentPassword, {'attr': {
                                    'class': 'form-control',
                                    'aria-describedby': 'inputGroupPrepend',
                                    'required': 'required'
                                }}) }}

                                <div id="currentPasswordFeedback" class="invalid-feedback">
                                    Veuillez saisir votre mot de passe actuel.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.password.first.vars.id }}" class="form-label">{{ form.password.first.vars.label }}* :</label>
                                {{ form_widget(form.password.first, {'attr': {
                                    'class': 'form-control',
                                    'aria-describedby': 'newPasswordFeedback',
                                    'required': 'required'
                                }}) }}
                                <div id="newPasswordFeedback" class="invalid-feedback">
                                    Le mot de passe doit contenir :
                                    <ul>
                                        <li>minimum 12 caractères</li>
                                        <li>au moins 1 chiffre (0 à 9)</li>
                                        <li>au moins 1 majuscule</li>
                                        <li>au moins 1 minuscule</li>
                                        <li>au moins 1 caractère spécial</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.password.second.vars.id }}" class="form-label">Confirmation mot de passe* :</label>
                                {{ form_widget(form.password.second, {'attr': {
                                    'class': 'form-control',
                                    'aria-describedby': 'confirmPasswordFeedback',
                                    'required': 'required'
                                }}) }}
                                <div id="confirmPasswordFeedback" class="invalid-feedback">
                                    Les mots de passe ne correspondent pas.
                                </div>
                            </div>

                            <div class="col-sm" style="text-align: center">
                                <button class="btn btn-outline-success btn-save" type="submit">Enregistrer</button>
                                <a href="{{ path('app_utilisateur_modifier') }}" class="btn btn-outline-danger">Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

