{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_accueil') }}" class="btn btn-outline-primary">Retour</a>
        <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4">Afficher une sortie</p>
        {% if sortie.motifAnnulation %}
            <div class="d-flex flex-column align-items-center text-center mb-4">
                <p class="text-bg-danger rounded fw-bold w-75">Motif d'annulation</p>
                <p class="fw-medium">{{ sortie.motifAnnulation }}</p>
                <hr class="w-75" />
            </div>
        {% endif %}
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-12">
                    <div class="text-black" style="border-radius: 25px;">
                        <div class="row justify-content-center">
                            <div class="col-6 row">
                                <div class="col-6">
                                    <p class="fw-bold mb-4">Nom de la sortie</p>
                                    <p class="fw-bold mb-4">Date et heure de la sortie</p>
                                    <p class="fw-bold mb-4">Date limite d'inscription</p>
                                    <p class="fw-bold mb-4">Nombre de places</p>
                                    <p class="fw-bold mb-4">Durée (minutes)</p>
                                    <p class="fw-bold mb-4">Description et infos</p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-4">{{ sortie.nom }}</p>
                                    <p class="mb-4">{{ sortie.dateDebut | date("l, j F \\a\\t H\\hi") }}</p>
                                    <p class="mb-4">{{ sortie.dateLimiteInscription | date('l, j F') }}</p>
                                    <p class="mb-4">{{ sortie.nbInscriptionMax }}</p>
                                    <p class="mb-4">{{ sortie.duree }}</p>
                                    <p class="mb-4">{{ sortie.infosSortie }}</p>
                                </div>
                            </div>
                            <div class="col-6 row">
                                <div class="col-6">
                                    <p class="fw-bold mb-4">Ville</p>
                                    <p class="fw-bold mb-4">Lieu</p>
                                    <p class="fw-bold mb-4">Rue</p>
                                    <p class="fw-bold mb-4">Code postal</p>
                                    <p class="fw-bold mb-4">Latitude</p>
                                    <p class="fw-bold mb-4">Longitude</p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-4">{{ sortie.lieux.ville.nom }}</p>
                                    <p class="mb-4">{{ sortie.lieux.nom }}</p>
                                    <p class="mb-4">{{ sortie.lieux.rue }}</p>
                                    <p class="mb-4">{{ sortie.lieux.ville.codePostal }}</p>
                                    <p class="mb-4">{{ sortie.lieux.latitude }}</p>
                                    <p class="mb-4">{{ sortie.lieux.longitude }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Liste des participants inscrits</p>
        {% if datetimeActuelle > sortie.dateLimiteInscription %}
            <i>Vous ne pouvez plus vous inscrire pour cette sortie</i>
        {% elseif app.user in sortie.inscriptions %}
            <i>Vous vous êtes déjà inscrit à cette sortie !</i>
        {% elseif nbInscrit == sortie.nbInscriptionMax %}
            <i>Il n'y a plus de place !</i>
        {% elseif is_granted('ROLE_ADMIN') %}
            <i>Vous ne pouvez pas vous inscrire en étant administrateur !</i>
        {% else %}
            <a href="{{ path("app_sortie_signup", {'id': sortie.id}) }}" class="btn btn-outline-info mb-2">S'inscrire</a>
        {% endif %}
        <div>
            <table id="tableSortie" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                {% for inscrit in sortie.inscriptions %}
                    <tbody>
                    <tr>
                        <td>{{ inscrit.pseudo }}</td>
                        <td>{{ inscrit.prenom }} {{ inscrit.nom }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
