{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column; justify-content: end; align-items: end">
        <p>Date du jour: {{ "now"|date("m-d-Y") }}</p>
        <p>Participant: {{ app.user.pseudo }}</p>
    </div>
    <h1 class="text-center">Filtrer les sorties</h1>
    <div class="container">
        {{ form_start(form, {'attr': {'id': 'filterForm'}}) }}
        <div class="row">
            <div id="inputs" class="col-6">
                {{ form_row(form.search, {'label': false, 'attr': {'class': 'form-control m-2 fw-normal', 'placeholder': "Search"}}) }}
                {{ form_row(form.sites, {'label': false, 'attr': {'class': 'form-control m-2'}}) }}
                {{ form_row(form.etat, {'label': false, 'attr': {'class': 'form-control m-2'}})  }}
                <label class="fw-semibold">Date de début</label>
                {{ form_row(form.dateDebut, {'label': false, 'attr': {'class': 'form-control m-2'}}) }}
                <label class="fw-semibold">Date de fin</label>
                {{ form_row(form.dateFin, {'label': false, 'attr': {'class': 'form-control m-2'}}) }}

            </div>
            <div id="checkboxs" class="col-6 d-flex flex-column mt-5">
                <div class="form-check d-flex">
                    {{ form_row(form.organisateurFilter, {'label': false, 'attr': {'class': 'form-check mx-2'}}) }}
                    <label>Sorties dont je suis l'organisateur.trice</label>
                </div>
                <div class="form-check d-flex">
                    {{ form_row(form.inscritFilter, {'label': false, 'attr': {'class': 'form-check mx-2'}}) }}
                    <label>Sorties auxquelles je suis inscrit.e</label>
                </div>
                <div class="form-check d-flex">
                    {{ form_row(form.pasInscritFilter, {'label': false, 'attr': {'class': 'form-check mx-2'}}) }}
                    <label>Sorties auxquelles je ne suis pas inscrit.e</label>
                </div>
                <div class="form-check d-flex">
                    {{ form_row(form.passeFilter, {'label': false, 'attr': {'class': 'form-check mx-2'}}) }}
                    <label>Sorties passées</label>
                </div>
                <div class="m-4">
                    <button type="submit" class="btn btn-outline-dark">Rechercher</button>
                    <a class="btn btn-outline-dark" href={{ path('app_accueil')}} >Reinitialiser</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
    <h1 class="mt-2 text-center">Liste des sorties</h1>
    <a href="{{ path('app_sortie_add') }}" class="btn btn-outline-primary mb-2">Créer une sortie</a>
    <div>
        <table id="tableSortie" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Clôture</th>
                    <th>Inscrits</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for sortie in sorties %}
            <tbody>
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut | date("d-m-Y") }}</td>
                    <td>{{ sortie.dateLimiteInscription | date("d-m-Y") }}</td>
                    <td>{{ sortie.inscriptions.count }} / {{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.value }}</td>
                    <td>
                        {% if app.user in sortie.inscriptions %}
                            ✔️
                        {% endif %}
                    </td>
                    <td><a href="{{ path('app_utilisateur_afficher_participant', {'id' : sortie.organisateur.id})}}">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a></td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{path('app_sortie_annuler', {id : sortie.id})}}" class="btn btn-outline-danger">Annuler</a>
                        {% endif %}
                        {% if app.user in sortie.inscriptions %}
                            <a href="{{ path('app_sortie_leave', {'id': sortie.id}) }}" class="btn btn-outline-warning" onclick="return confirm('Êtes-vous sûr de vouloir vous désister de cette sortie ?')">Se désister</a>
                        {% else %}
                            <a href="{{ path('app_sortie_list', {'id': sortie.id}) }}" class="btn btn-outline-info">Afficher</a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}
