{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ encore_entry_script_tags('site') }}
{% endblock %}

{% block body %}

<div class="card mb-3" style="width: 80% ; padding: 8px;">
    <div class="row g-0">
        <h2 class="mb-4">Sites</h2>
        <div class="card-body">
            <table id="tableSortie" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {{ form_start(form, {'attr': {'class': "mx-1 mx-md-4"}}) }}
                        <tr>
                            <td>{{ form_row(form.nom) }}</td>
                            <td>
                                <button class="btn btn-primary" type="submit">Ajouter</button>
                            </td>
                        </tr>
                    {{ form_end(form) }}

                    {% for site in sites %}
                        <tr>
                            <td>{{ site.nom }}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-edit" data-site-id="{{ site.id }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
