{% extends 'base.html.twig' %}

{% block title %}Admin - Sites{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ encore_entry_script_tags('site') }}
{% endblock %}

{% block body %}

<div class="card p-4 container" style="width: 80% ; padding: 8px;">
    <div class="row">
        <h1 class="text-center mb-4">Sites</h1>
        <div class="card-body">
            <table id="tableSortie" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {{ form_start(form, {'attr': {'class': "mx-1 mx-md-4"}}) }}
                        <tr>
                            <td>{{ form_row(form.nom) }}</td>
                            <td>
                                <button class="btn btn-outline-primary" type="submit">Ajouter</button>
                            </td>
                        </tr>
                    {{ form_end(form) }}

                    {% for site in sites %}
                        <tr>
                            <td>{{ site.nom }}</td>
                            <td>
                                <a href="#" class="btn btn-outline-primary btn-edit" data-site-id="{{ site.id }}">Modifier</a>
                                <button class="btn btn-outline-success btn-save" style="display: none;" data-ville-id="{{ site.id }}">Sauvegarder</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
