<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ENI-Sortir - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/logo.png') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <style>

    </style>
</head>

<body>
    <header>
        <nav class="navbar-expand-lg nav-links">
            <div>
                <img class="logo" src="{{ asset('assets/logo.jpg') }}" alt="Logo" />
            </div>
            <a href="{{ path('app_accueil') }}">Accueil</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="#}">Administration</a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_utilisateur_modifier') }}">Mon profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% endif %}
        </nav>
    <header>

    <main>
        {% block body %}{% endblock %}
    </main>


    <footer class="footer">
        <div>
            <ul class="pied-page">
                <li><a target=”_blank” class="text-info" href="https://www.eni-ecole.fr/">ENI Ecole Informatique</a></li>
                <li><a target=”_blank” class="text-info" href="https://github.com/Eliot-BPJ/ENI-Sortir">Code source sous license</a></li>
            </ul>

            <p Informations légales - Sortir.com by Melvin, Eliot, Victor & Mélody</p>

        </div>
    </footer>

</body>
</html>
