<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com - Erreur 404{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/logo.jpg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    
</head>
<body style="background-color: #fff">
<!-- Error Page -->
<div class="error">
    <div class="container-floud">
        <div class="col-xs-12 ground-color text-center">
            <div class="container-error-404">
                <img class="" src="{{ asset('assets/404.png') }}" alt="Erreur 404" />
            </div>
            <h2 class="h1">Oops, la page que vous essayez d'atteindre n'existe pas !</h2>
            <h3 class="h2">Si vous tentez de saisir vous même une URL existante, vérifiez son intégrité puis réessayez.</h3>
            <a class="btn btn-outline-info" href="{{ path("app_login") }}">Retour à l'accueil</a>
        </div>
    </div>
</div>
<!-- Error Page -->
</body>
<script>
    function randomNum()
    {
        "use strict";
        return Math.floor(Math.random() * 9)+1;
    }
    var loop1,loop2,loop3,time=30, i=0, number, selector3 = document.querySelector('.thirdDigit'), selector2 = document.querySelector('.secondDigit'),
        selector1 = document.querySelector('.firstDigit');
    loop3 = setInterval(function()
    {
        "use strict";
        if(i > 40)
        {
            clearInterval(loop3);
            selector3.textContent = 4;
        }else
        {
            selector3.textContent = randomNum();
            i++;
        }
    }, time);
    loop2 = setInterval(function()
    {
        "use strict";
        if(i > 80)
        {
            clearInterval(loop2);
            selector2.textContent = 0;
        }else
        {
            selector2.textContent = randomNum();
            i++;
        }
    }, time);
    loop1 = setInterval(function()
    {
        "use strict";
        if(i > 100)
        {
            clearInterval(loop1);
            selector1.textContent = 4;
        }else
        {
            selector1.textContent = randomNum();
            i++;
        }
    }, time);
</script>
</html>