{% extends 'base.html.twig' %}

{% block title %}Admin - Ajouter liste{% endblock %}

{% block body %}
<div class="card mb-3" style="width: 80% ; padding: 8px;">
    <div class="row g-0">
        <h1 class="text-center mb-4">Nouvelle liste utilisateur</h1>
        <div class="card-body">

            {{ form_errors(formRegisterWithCsv) }}

            {{ form_start(formRegisterWithCsv, {'attr':{'class':'form-floating'}}) }}

            <div class="form-floating mb-3">
                {{ form_row(formRegisterWithCsv.fichierCSV, {'attr':{'class':'form-control form-control-sm'}}) }}
            </div>

            <div class="col-sm" style="text-align: center">
                <button class="btn btn-outline-success" type="submit">Enregistrer</button>
                <a href="{{ path('app_admin_utilisateur_lister') }}" class="btn btn-outline-secondary">Annuler</a>
            </div>

            {{ form_end(formRegisterWithCsv) }}
        </div>
    </div>
</div>
{% endblock %}
