{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Register{% endblock %}

{% block contenu %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(formRegisterWithCsv) }}

    {{ form_start(formRegisterWithCsv) }}
    {{ form_row(formRegisterWithCsv.pseudo) }}
    {{ form_row(formRegisterWithCsv.fichierCSV) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(formRegisterWithCsv) }}
{% endblock %}
