{% extends 'base.html.twig' %}

{% block title %}Admin - Utilisateur{% endblock %}

{% block body %}
    <div class="list-realisation">
{#        {% for message in app.flashes('notice') %}#}
{#            <div class="alert-success">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
        <div class="mb-4">
            <a class="btn btn-primary" href="{{path('app_register')}}">Ajouter un utilisateur Manuellement</a>
            <a class="btn btn-primary" href="{{path('app_admin_utilisateur_ajouter_csv')}}">Ajouter un Utilisateur avec un csv</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Role</th>
                <th>Actif</th>
                <th>Site</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td><a href="{{ path('app_utilisateur_afficher_participant', {'id' : utilisateur.id})}}">{{ utilisateur.pseudo }}</a></td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>{{ 'ROLE_ADMIN' in utilisateur.roles ? "Admin" : "Utilisateur"}}</td>
                    <td>{{ utilisateur.actif ? "Oui" : "Non"}}</td>
                    <td>{{ utilisateur.idSite.nom }}</td>
                    <td>
                        <a class="btn btn-success" type="submit" href="{{ path('app_admin_utilisateur_desactiver', {'id' : utilisateur.id}) }}">{{ utilisateur.isActif() ? 'Désactiver' : 'Activer'}}</a>
                        <a class="btn btn-warning" type="submit" onclick="return confirm('Etes vous sur')" href="{{ path('app_admin_utilisateur_supprimer', {'id' : utilisateur.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}